* { margin: 0; padding: 0; text-shadow: none; font-weight: normal !important; font-family: 'Microsoft YaHei', Arial; }
input, button, select, textarea { outline: none; }
html { -webkit-user-select: none; -webkit-tap-highlight-color: rgba(255,255,255,0); }
input { border: 0; }
ul, li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
body { background-color: #fff; width: 640px; -webkit-user-select: none; position: relative; overflow-x: hidden;}
a { text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.clear { clear: both; overflow: hidden; }
/*img{ -webkit-touch-callout:none; touch-callout:none; pointer-events:none; -webkit-user-select:none;}*/


#indexWrap{ width:640px; display:none;}


#video{
    width: 545px;
    height: 330px;
    position: absolute;
    left: 41px;
    top: 1315px;
}
#video video{
    width: 545px;
    height: 330px;
}

#indexWrap .box1{ width: 640px; height: 2385px; background: url("../images/bg1.jpg") no-repeat; position: relative;}
#indexWrap .box1 .form{ width: 240px; height: 408px; position: absolute; left: 239px; top: 639px;}

#indexWrap .box1 .form input{ width: 228px; height: 38px; line-height: 38px; padding: 0 5px; position: absolute; left: 1px; font-size: 20px;}
#indexWrap .box1 .form input#name{ top: 1px;}
#indexWrap .box1 .form input#tel{ top: 69px;}

#indexWrap .box1 .form select{ position: absolute; left: 1px; width: 220px; height: 38px; background: none; border: none; -webkit-appearance:none; padding: 0 5px; font-size: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#indexWrap .box1 .form select#province{ top: 137px;}
#indexWrap .box1 .form select#city{ top: 203px;}
#indexWrap .box1 .form select#shop{ top: 271px;}

#indexWrap .box1 .form .btn{ width: 163px; height: 43px; position: absolute; left: 26px; bottom: 32px;}


#sp1{ height: 360px; position: absolute; top: 1831px; width: 500px; left: 97px; overflow: hidden;}
.btnl{ width: 56px; height: 140px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/btnL.png") no-repeat right center; position: absolute; left: 6px; top: 1988px; z-index: 2;}
.btnr{ width: 56px; height: 140px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/btnR.png") no-repeat; position: absolute; right: 0px; top: 1988px; z-index: 2;}
#sp1 .zhezhao{ width: 192px; height: 280px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/pop1bg.png") no-repeat; position: absolute; left: 270px; top: 90px; }
#sp1 .img3{ z-index: 9;}
#sp1 .swiper-wrapper{ position: relative;}
#sp1 .swiper-wrapper .swiper-slide{ overflow: hidden;}
#sp1 img{ position: absolute;}
#sp1 .s1 .img1{ left: 20px; top: 160px;}
#sp1 .s1 .img2{ left: 305px; top: 55px;}
#sp1 .s1 .img3{ left: 290px; top: 108px;}

#sp1 .s2 .img1{ left: 10px; top: 160px;}
#sp1 .s2 .img2{ left: 305px; top: 55px;}
#sp1 .s2 .img3{ left: 290px; top: 108px;}

#sp1 .s3 .img1{ left: 20px; top: 150px;}
#sp1 .s3 .img2{ left: 305px; top: 55px;}
#sp1 .s3 .img3{ left: 290px; top: 108px;}

#sp1 .s4 .img1{ left: 10px; top: 160px;}
#sp1 .s4 .img2{ left: 305px; top: 55px;}
#sp1 .s4 .img3{ left: 290px; top: 108px;}

#sp1 .s5 .img1{ left: 0px; top: 160px;}
#sp1 .s5 .img2{ left: 305px; top: 55px;}
#sp1 .s5 .img3{ left: 290px; top: 108px;}

#sp1 .s6 .img1{ left: 0px; top: 160px;}
#sp1 .s6 .img2{ left: 305px; top: 55px;}
#sp1 .s6 .img3{ left: 290px; top: 108px;}

#sp1 .s7 .img1{ left: 0px; top: 160px;}
#sp1 .s7 .img2{ left: 305px; top: 55px;}
#sp1 .s7 .img3{ left: 290px; top: 108px;}

#sp1 .s8 .img1{ left: 0px; top: 160px;}
#sp1 .s8 .img2{ left: 305px; top: 55px;}
#sp1 .s8 .img3{ left: 290px; top: 108px;}


#pop{ width: 100%; height: 100%; position: fixed; background:rgba(0,0,0,0.5); display: none; z-index: 1;}


#sp2{ width: 508px; height: 0px; position: absolute; top: 1835px; left: 70px; z-index: 3; overflow: hidden;}
#sp2 .close{ width: 82px; height: 82px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/close.png") no-repeat 40px 10px; position: absolute; right: 0px; top: 0px; z-index: 10;}



#indexWrap .box2{ width: 640px; height: 1595px; background: url("../images/bg2.jpg") no-repeat; position: relative;}


#sp3{ width: 544px; height: 526px; background: #000; position: absolute; top: 213px; left: 48px; overflow: hidden;}
#sp3 img{ position: absolute; top: 78px; left: 0px; width: 100%;}
#sp3 .sp3_page{ position: absolute; bottom: 13px; left: 50%; margin-left: -50px;}
#sp3 .sp3_page span{ width: 18px; height: 18px; float: left; background: #f4d34d; border-radius: 50%; margin-left: 20px;}

#sp3 .sp3L{ width: 68px; height: 526px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/sp3_l.png") no-repeat; position: absolute; left: 0px; top: 0px; z-index: 1;}
#sp3 .sp3R{ width: 68px; height: 526px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/sp3_r.png") no-repeat; position: absolute; right: 0px; top: 0px; z-index: 1;}



#sp4{ width: 473px; height: 560px; position: absolute; top: 999px; left: 85px; overflow: hidden;}

#sp4 .sp4_page{ position: absolute; bottom: 10px; left: 50%; margin-left: -100px;}
#sp4 .sp4_page span{ width: 12px; height: 12px; float: left; background: #fff; border-radius: 50%; margin-left: 12px; opacity:1;}
#sp4 .sp4_page span.swiper-pagination-bullet-active{ background: #000;}

.sp4L{ width: 50px; height: 140px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/btnL.png") no-repeat center center; position: absolute; left: 20px; bottom: 320px;}
.sp4R{ width: 50px; height: 140px; background: url("http://rm.sina.com.cn/minisite/20161111weiling/images/btnR.png") no-repeat center center; position: absolute; right: 10px; bottom: 320px;}